body {
  font-family: 'Roboto', ital;
  background-color: lightblue;
}

.input-text {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 1px solid #ff8c00;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.input-container {
  display: flex;
  align-items: center;
}
.input-text:hover {
  border: 1px solid #a200ff;
}

.item {
  text-align: center;
}
.countries-item {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.population {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.lang-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
